*{
	font-family: "微軟正黑體";
	box-sizing: content-box;
}

.navbar-brand{
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-right: 555px;
}
.logo{
	width: 443px;
    height: 80px;
}
.top{
	width: 1440px;
    height: 130px;
    background-color: #fff;
}
li.nav-item{
	margin-right: 30px;
	margin-top: 75px;
	list-style: none;
}
ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #6c6c6c;
}
ul li a:hover{
	color: #d7ac41;
	text-decoration: none;
}
#nav_right{
	padding-right: 70px;
}
header{
	background-image: url("../img/top-banner.jpg");
	width: 1440px;
    height: 782px;
}
header h1{
	color: #fff;
	font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 335px;
    padding-bottom: 15px;
}
header p{
	color: #fff;
	font-size: 24px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
section.second{
	background-image: url("../img/about-bg.jpg");
	width: 1440px;
    height: 754px;
}
section.second .icon{
	padding-top: 100px;
	position: relative;
	left: calc(50% - 60px);
	right: calc(50% - 60px);
	padding-bottom: 40px;
}
section.second .second_text{
    width: 770px;
    margin: 0 auto;
    text-align: left;
}
section.second p{
	color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.62;
}
section.second p b{
	font-size: 24px;
    font-weight: 600;
}
section.second hr{
	width: 62px;
    border: solid 1px;
    color: #d7ac41;
    margin: 40px auto;
}
section.second .first_p{
	margin-bottom: 30px;
}
section.second .last_p{
	margin-top: 30px;
	margin-bottom: 100px;
}
section.third{
	background-image: url("../img/service-bg.jpg");
	width: 1440px;
    height: 667px;
}
section.third hr, section.group hr{
	width: 62px;
    border: solid 1px;
    color: #d7ac41;
    margin: 100px auto 25px auto;
}
section.third h2, section.group h2{
	font-size: 50px;
    font-weight: 600;
    color: #4a494b;
	margin-bottom: 40px;
}
section.third .col-md-3{
	width: 270px;
    height: 60px;
    background: rgba(255, 255, 255, 0.7);
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 15px;
    line-height: 60px;
    padding: 0;
}
section.third .service{
	margin-bottom: 100px;
}
section.third a{
	color: #6c6c6c;
	text-decoration: none;
	font-size: 16px;
}
section.third a:hover{
	text-decoration: none;
}
section.group .text_intro{
    width: 300px;
    height: 400px;
    background: #f6f7f8;
}
section.group .left{
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}
section.group .right{
	display: flex;
	flex-direction: row;
}
section.group .container{
	display: flex;
	flex-direction: row;
}
section.group img{
	width: 270px;
    height: 400px;
}
section.group h3{
	font-size: 50px;
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
section.group p{
	font-size: 16px;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
}
section.group .famous{
    margin-top: 18px;
    margin-bottom: 16px;
}
section.group .email{
    margin-top: 20px;
}
section.group .detail_intro{
    line-height: 25px;
}
section.group button{
	box-sizing: border-box;
	font-size: 16px;
    border: 1px solid;
    color: #d7ac41;
	width: 270px;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 100px;
    background-color: #fff;
}
section.contact{
	background-image: url("../img/footer-bg.jpg");
	width: 1440px;
    height: 437px;
}
section.contact hr{
	width: 62px;
    border: solid 1px;
    color: #d7ac41;
    margin: 100px auto 25px 135px;
}
section.contact h2{
	font-size: 50px;
    font-weight: 600;
    color: #4a494b;
	margin-bottom: 40px;
	margin-left: 135px;
}
section.contact p{
	font-size: 16px;
    color: #4a494b;
	margin-bottom: 20px;
}
section.contact .left{
	margin-left: 135px;
}
section.contact .right{
	margin-left: 110px;
}
section.contact .contact_way{
	display: flex;
	flex-direction: row;
}
footer{
    background: #2b2c2c;	
	width: 1440px;
    height: 48px;
}
footer p{
	font-size: 16px;
    line-height: 48px;
    color: #fff;
    margin: 0;
}